<?xml version="1.0" encoding="UTF-8"?><web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
     http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>HelloService</display-name>
    <listener>
        <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>
    <servlet>
        <display-name>FlightsService</display-name>
        <servlet-name>FlightsService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlightsService</servlet-name>
        <url-pattern>/flights</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <security-constraint>
        <display-name>SecurityConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>WRCollection</web-resource-name>
            <url-pattern>/flights/addFlight</url-pattern>
            <url-pattern>/flights/changeFlight</url-pattern>
            <url-pattern>/flights/deleteFlight</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>AdminUser</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-constraint>BASIC</auth-constraint>
        <realm-name>file</realm-name>
    </login-config>
    <security-role>
        <role-name>AdminUser</role-name>
    </security-role>
</web-app>